<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="https://www.embarcadero.com" target="_blank" rel="noopener noreferrer" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="@env.resource/static/img/logo.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© @system.year @env.company - v@env.version</span>
    </div>

    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <ul class="nav list-unstyled d-flex align-items-center gap-3 mb-0">
        <li><a class="text-body-secondary text-decoration-none" href="https://www.embarcadero.com" target="_blank" rel="noopener noreferrer">Embarcadero</a></li>
        <li><a class="text-body-secondary text-decoration-none" href="https://lp.embarcadero.com/HTMX-WebStencils" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-book me-1"></i>Free Guide
        </a></li>
      </ul>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://x.com/EmbarcaderoTech" target="_blank" rel="noopener noreferrer"><i
            class="bi-twitter-x"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Embarcadero" target="_blank" rel="noopener noreferrer"><i
            class="bi-github"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://linkedin.com/company/embarcadero-technologies" target="_blank" rel="noopener noreferrer"><i
            class="bi-linkedin"></i></a></li>
    </ul>
  </footer>
</div>